{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}
    template-homepage
{% endblock body_class %}

{% block content %}
    <section class="border-b-2 border-gray-200 pb-5">
        <div>
            <h1 class="text-7xl text-sky-600 text-center font-bold pb-8"
                style="font-family: var(--font-edusahand)">{{ page.hero_heading }}</h1>
            <p class="text-2xl text-sky-900 text-center italic mb-5">{{ page.hero_tagline }}</p>

            {% if page.hero_image %}
                <div class="w-full">{% image page.hero_image width-800 class="mx-auto" %}</div>
            {% endif %}
        </div>
    </section>

    <section>
        <div>
            <h2 class="text-3xl text-sky-600 text-center pt-4 pb-2">About Me</h2>
            <div>{{ page.about_me | richtext }}</div>
        </div>
    </section>
{% endblock content %}
