{% load navigation_tags %}

<footer class="border-2 border-gray-800 bg-sky-200 py-4 px-4 mt-5 sm:px-6 lg:px-8 text-center">
    {% with linkedin_url=settings.base.NavigationSettings.linkedin_url github_url=settings.base.NavigationSettings.github_url mastodon_url=settings.base.NavigationSettings.mastodon_url twitter_url=settings.base.NavigationSettings.twitter_url instagram_url=settings.base.NavigationSettings.instagram_url %}
        {% if linkedin_url or github_url or mastodon_url or twitter_url or instagram_url %}
            {% if linkedin_url %}
                <a href="{{ linkedin_url }}"
                   target="_blank"
                   rel="noopener noreferrer"
                   class="footer-link">LinkedIn</a>
            {% endif %}
            {% if github_url %}
                <a href="{{ github_url }}"
                   target="_blank"
                   rel="noopener noreferrer"
                   class="footer-link">GitHub</a>
            {% endif %}
            {% if mastodon_url %}
                <a href="{{ mastodon_url }}"
                   target="_blank"
                   rel="noopener noreferrer"
                   class="footer-link">Mastodon</a>
            {% endif %}
            {% if twitter_url %}
                <a href="{{ twitter_url }}"
                   target="_blank"
                   rel="noopener noreferrer"
                   class="footer-link">X (Twitter)</a>
            {% endif %}
            {% if instagram_url %}
                <a href="{{ instagram_url }}"
                   target="_blank"
                   rel="noopener noreferrer"
                   class="footer-link">Instagram</a>
            {% endif %}
        {% endif %}
    {% endwith %}

    <div class="text-gray-500 text-xs">{% get_footer_text %}</div>
</footer>
